.root {

    -fx-background-color:
            linear-gradient(
                    to bottom right,
                    #0f172a,
                    #111827,
                    #1e293b
            );

    -fx-font-family: "Segoe UI";
}

/* PANEL */

.update-panel {

    -fx-background-color: rgba(17,24,39,0.95);

    -fx-background-radius: 14;

    -fx-border-color: #1e293b;

    -fx-border-width: 1;

    -fx-border-radius: 14;

    -fx-effect: dropshadow(
            gaussian,
            rgba(0,0,0,0.35),
            20,
            0,
            0,
            6
    );
}

/* TITULO */

.update-title {

    -fx-font-size: 28px;
    -fx-font-weight: bold;

    -fx-text-fill: #f8fafc;
}

/* FORM BOX */

.form-box {

    -fx-background-color: #111827;

    -fx-background-radius: 12;

    -fx-padding: 15;

    -fx-border-color: #334155;

    -fx-border-radius: 12;
}

/* INPUTS */

.input-field {

    -fx-control-inner-background: #1e293b;

    -fx-text-fill: white;

    -fx-prompt-text-fill: #94a3b8;

    -fx-background-radius: 10;

    -fx-border-radius: 10;

    -fx-border-color: #334155;

    -fx-border-width: 1;

    -fx-padding: 8;
}

.input-field:focused {

    -fx-control-inner-background: #273549;

    -fx-border-color: #64748b;
}

/* BOTON PRINCIPAL */

.primary-button {

    -fx-background-color:
            linear-gradient(
                    to bottom,
                    #273549,
                    #1e293b
            );

    -fx-text-fill: white;

    -fx-font-weight: bold;

    -fx-background-radius: 10;

    -fx-border-color: #334155;
}

/* BOTON VOLVER */

.back-button {

    -fx-background-color:
            linear-gradient(
                    to bottom,
                    #3b1d2a,
                    #2b1620
            );

    -fx-text-fill: #fca5a5;

    -fx-font-weight: bold;

    -fx-background-radius: 10;

    -fx-border-color: #7f1d1d;
}

/* SEPARADOR */

.separator-line .line {

    -fx-border-color: #334155;
}

/* INFO */

.info-label {

    -fx-text-fill: #94a3b8;

    -fx-font-size: 12px;
}
.combo-box {

    -fx-background-color: #1e293b;

    -fx-text-fill: #e2e8f0;

    -fx-background-radius: 10;

    -fx-border-radius: 10;

    -fx-border-color: #334155;
}
.combo-box .list-cell:hover {

    -fx-text-fill: white;
    -fx-background-color: #334155;
}
.combo-box-base .text {

    -fx-fill: #e2e8f0;
}